.header p {
  font-style:italic;
  font-size:20px;
}
.heading {
  color:white;
  font-size: 30px;
  border:2px solid white;
  background-color: blue;
  text-align: center;
}
.intro {
  font-style: italic;
}
img {
  width: 400px;
}
.header3 {
  font-size: 30px;
}
.header4 {
  font-size: 20px;
  border:2 px solid white;
  padding: 6px;
  margin:10px;
  color:grey;
}
.lengths {
  color:white;
  font-size: 20px;
  text-align: left;
  background-color: blue;
}
.button {
  font-size: 20px;
}
